#include ~/.ssh/ansible_ssh_with_name.cfg
#Include config.d/*

Host dintel1
        hostname 192.168.122.240
        user stack
        proxyjump root@10.219.117.11

Host intel1
        hostname 10.219.117.11
        user root

Host 1909
        hostname 10.219.117.12
        user root

Host director5.1
        hostname 192.168.122.106
        user stack
        proxyjump root@10.219.115.66

Host queens
        hostname 192.168.122.157
        user stack
        proxyjump root@10.219.115.67

Host 4.1.3
        HostName 10.219.115.67
        User root
Host undercloud_4.1.3
        HostName 192.168.122.12
        User stack
        ProxyCommand ssh -W %h:%p 4.1.3
#contrail123
Host controller4.1.3
        HostName 192.0.2.12
        User heat-admin
        ProxyCommand ssh -W %h:%p undercloud_4.1.3




Host 4.1.2
        HostName 10.219.115.65
        User root
Host undercloud_4.1.2
        HostName 192.168.122.16
        User stack
        ProxyCommand ssh -W %h:%p 4.1.2
Host controller4.1.2
        HostName 192.0.2.10
        User heat-admin
        ProxyCommand ssh -W %h:%p undercloud_4.1.2
Host contrail_controller4.1.2
        HostName 192.0.2.6
        User heat-admin
        ProxyCommand ssh -W %h:%p undercloud_4.1.2

Host sdn4
        HostName 172.30.157.205
        User root

Host kvm_hostSDN4
        HostName 192.168.122.118
        User stack 
        ProxyCommand ssh -W %h:%p sdn4

Host controllerSDN4
        HostName 192.168.122.132
        User heat-admin
        ProxyCommand ssh -W %h:%p kvm_hostSDN4

Host contrailSDN4
        HostName 192.168.122.131
        User heat-admin
        ProxyCommand ssh -W %h:%p kvm_hostSDN4
Host sdn5
        HostName 172.30.157.206
        User root

Host kvm_hostSDN5
        HostName 192.168.122.82
        User stack
        ProxyCommand ssh -W %h:%p sdn5

Host controllerSDN5
        HostName 192.0.2.12
        User heat-admin
        ProxyCommand ssh -W %h:%p kvm_hostSDN5

Host contrailSDN5
        HostName 192.0.2.8
        User heat-admin
        ProxyCommand ssh -W %h:%p kvm_hostSDN5

Host sdn10
        HostName 172.30.157.211
        User root

Host kvm_host
        HostName 192.168.122.30
        User stack
        ProxyCommand ssh -W %h:%p sdn10

Host controller
        HostName 192.0.2.7
        User heat-admin
        ProxyCommand ssh -W %h:%p kvm_host

Host 41
        hostname 192.168.122.30
        user root
        proxyjump root@172.30.157.211
Host uc
        hostname 192.168.122.207
        user root
        proxyjump root@172.30.157.205

## Pan-Net SSH config
include ~/.ssh/ansible_ssh_with_name.cfg
Include config.d/*
#Common settings
IdentityFile ~/.ssh/id_rsa
LogLevel ERROR
ServerAliveInterval 60
ServerAliveCountMax 5
ConnectTimeout 20
StrictHostKeyChecking no
ForwardAgent yes
# uncomment following if you have OSX client
#AddKeysToAgent yes
UserKnownHostsFile /dev/null

# Put your username to file e.g. "User kucharo"
# if your system account is different than pan-net one
#Include config.d/username

# Include config directive might not work for older ssh clients
# uncomment following line and add your username if your ssh client does not support include 
User sblatnjak

# forward Openstack environmental variables
SendEnv OS_*
# forward gitlab CI_* environmental variables
SendEnv CI_*
# forward mojo,juju env variables
SendEnv MOJO_*
SendEnv JUJU_*

## Central Jump Hosts
# First jump
Host 10.235.3.251 hubudb1-f1-scjho-02-01 jho1.tools.in.pan-net.eu jumphost
    Hostname 10.235.3.251

# Second jump
Host 100.127.20.49 hubudb1-f1-scjho-01-01
    Hostname 100.127.20.49
    ProxyCommand ssh -W %h:%p jho1.tools.in.pan-net.eu

# icc 1
Host hubudb1-f1-icctrl-01-01 icc1
    HostName 10.235.3.253
# icc 2
Host hubudb1-f2-icctrl-01-02 icc2
    HostName 10.235.3.254
# screpoadmin 
Host hubudb1-screpoadmin-01 screpoadmin
    HostName 10.235.2.6
# beryllium central repository
Host central-repo
    HostName 10.235.26.12
    ProxyCommand ssh -W %h:%p hubudb1-screpoadmin-01
# itot-jumphost
Host itot-jumphost
    HostName 10.235.0.84
    ProxyCommand ssh -W %h:%p jumphost
# itot-jumphost-zagreb SCv2
Host itot-jumphost-zag
    HostName 10.235.31.200
    ProxyCommand ssh -W %h:%p jumphost
Host deployer-runner01
    HostName 10.235.27.147
    ProxyCommand ssh -W %h:%p itot-jumphost-zag


# forward everything site machine over site jumphost
Host ic-skbrat1*-fc1 !*-jumphost-fc1
   ProxyCommand ssh -W %h:%p ic-skbrat1-jumphost-fc1
Host ic-skbrat1*-fc2 !*-jumphost-fc2
   ProxyCommand ssh -W %h:%p ic-skbrat1-jumphost-fc2

Host ic-plwarb1*-fc1 !*-jumphost-fc1
   ProxyCommand ssh -W %h:%p ic-plwarb1-jumphost-fc1
Host ic-plwarb1*-fc2 !*-jumphost-fc2
   ProxyCommand ssh -W %h:%p ic-plwarb1-jumphost-fc2

Host ic-hrzagt1*-fc1 !*-jumphost-fc1
   ProxyCommand ssh -W %h:%p ic-hrzagt1-jumphost-fc1
Host ic-hrzagt1*-fc2 !*-jumphost-fc2
   ProxyCommand ssh -W %h:%p ic-hrzagt1-jumphost-fc2

Host ic-hubudb1*-fc1 !*-jumphost-fc1
   ProxyCommand ssh -W %h:%p ic-hubudb1-jumphost-fc1
Host ic-hubudb1*-fc2 !*-jumphost-fc2
   ProxyCommand ssh -W %h:%p ic-hubudb1-jumphost-fc2

Host ic-hrvart1*-fc1 !*-jumphost-fc1
   ProxyCommand ssh -W %h:%p ic-hrvart1-jumphost-fc1
Host ic-hrvart1*-fc2 !*-jumphost-fc2
   ProxyCommand ssh -W %h:%p ic-hrvart1-jumphost-fc2

Host ic-hrzagf1*-fc1 !*-jumphost-fc1
   ProxyCommand ssh -W %h:%p ic-hrzagf1-jumphost-fc1
Host ic-hrzagf1*-fc2 !*-jumphost-fc2
   ProxyCommand ssh -W %h:%p ic-hrzagf1-jumphost-fc2

Host ic-grathb1*-fc1 !*-jumphost-fc1
   ProxyCommand ssh -W %h:%p ic-grathb1-jumphost-fc1
Host ic-grathb1*-fc2 !*-jumphost-fc2
   ProxyCommand ssh -W %h:%p ic-grathb1-jumphost-fc2

Host ic-hrvarf1*-fc1 !*-jumphost-fc1
   ProxyCommand ssh -W %h:%p ic-hrvarf1-jumphost-fc1
Host ic-hrvarf1*-fc2 !*-jumphost-fc2
   ProxyCommand ssh -W %h:%p ic-hrvarf1-jumphost-fc2

Host ic-hubudf1*-fc1 !*-jumphost-fc1
   ProxyCommand ssh -W %h:%p ic-hubudf1-jumphost-fc1
Host ic-hubudf1*-fc2 !*-jumphost-fc2
   ProxyCommand ssh -W %h:%p ic-hubudf1-jumphost-fc2

######## Site Local Jump Hosts

## BA jumphosts
Host 195.146.133.90 ic-skbrat1-jumphost-fc1
    Hostname 195.146.133.90
    ProxyCommand ssh -W %h:%p jumphost
Host 213.81.140.178 ic-skbrat1-jumphost-fc2
    Hostname 213.81.140.178
    ProxyCommand ssh -W %h:%p jumphost

## WAR jumphost. In ic-plwarb1 FC2 jumphost is missing, switched to FC1 for compatibility
Host 217.153.13.2 ic-plwarb1-jumphost-fc1 ic-plwarb1-jumphost-fc2
    Hostname 217.153.13.2
    ProxyCommand ssh -W %h:%p jumphost

## ZAG jumphosts
Host 83.131.116.204 ic-hrzagt1-jumphost-fc1
    Hostname 83.131.116.204
    ProxyCommand ssh -W %h:%p jumphost
Host 83.131.116.205 ic-hrzagt1-jumphost-fc2
    Hostname 83.131.116.205
    ProxyCommand ssh -W %h:%p jumphost

## BUD jumphosts
Host 100.127.53.10 ic-hubudb1-jumphost-fc1
    Hostname 100.127.53.10
    ProxyCommand ssh -W %h:%p hubudb1-f1-scjho-01-01
Host 100.127.53.11 ic-hubudb1-jumphost-fc2
    Hostname 100.127.53.11
    ProxyCommand ssh -W %h:%p hubudb1-f1-scjho-01-01

## Zag-selska jumphosts
Host 100.127.53.10 ic-hrzagf1-jumphost-fc1
    Port 2345
    Hostname 195.29.252.10
    ProxyCommand ssh -W %h:%p hubudb1-f1-icctrl-01-01
Host 100.127.53.10 ic-hrzagf1-jumphost-fc2
    Port 2345
    Hostname 195.29.252.10
    ProxyCommand ssh -W %h:%p hubudb1-f1-icctrl-01-01

##VAR jumphosts ic-hrvart1-jumphost-fc1 is not reachable directly - need to be routed via zag jump
Host 83.131.116.204 jumphost-zagreb-hack
    Hostname 83.131.116.204
    ProxyCommand ssh -W %h:%p jumphost
Host 195.29.252.6 ic-hrvart1-jumphost-fc1 ic-hrvart1-jumphost-fc2
    Hostname 195.29.252.6
    ProxyCommand ssh -W %h:%p jumphost-zagreb-hack

##VARF1 jumphosts ic-hrvarf1 through the hack ^
Host 195.29.252.5 ic-hrvarf1-jumphost-fc1 ic-hrvarf1-jumphost-fc2
    Hostname 195.29.252.5
    ProxyCommand ssh -W %h:%p jumphost-zagreb-hack

##ATH jumphost
Host 62.103.133.98 ic-grathb1-jumphost-fc1
    Hostname 62.103.133.98
    ProxyCommand ssh -W %h:%p jumphost
Host 62.103.133.98 ic-grathb1-jumphost-fc2
    Hostname 62.103.133.98
    ProxyCommand ssh -W %h:%p jumphost

##HUBUDF1 Fehervari jumphost
Host 100.127.54.11 ic-hubudf1-jumphost-fc1 ic-hubudf1-jumphost-fc2
    Hostname 100.127.54.11
    ProxyCommand ssh -W %h:%p jho1.tools.in.pan-net.eu 


## common nodes for all environments in FC1
# Prime FC1
Host ic-skbrat1-prime-fc1 ic-plwarb1-prime-fc1 ic-hrzagt1-prime-fc1 ic-hubudb1-prime-fc1 ic-hrvart1-prime-fc1 ic-hrzagf1-prime-fc1 ic-hrzagf1-prime-fc2 ic-grathb1-prime-fc1 ic-hrvarf1-prime-fc1 ic-hubudf1-prime-fc1
    Hostname 100.107.0.2

# Site Control VM FC1
Host ic-skbrat1-controlvm-fc1 ic-plwarb1-controlvm-fc1 ic-hrzagt1-controlvm-fc1 ic-hubudb1-controlvm-fc1 ic-hrvart1-controlvm-fc1 ic-hrzagf1-controlvm-fc1 ic-grathb1-controlvm-fc1 ic-hrvarf1-controlvm-fc1 ic-hubudf1-controlvm-fc1
    Hostname 100.107.0.7

# Site Repository VM FC1
Host ic-skbrat1-repo-fc1 ic-plwarb1-repo-fc1 ic-hrzagt1-repo-fc1 ic-hubudb1-repo-fc1 ic-hrvart1-repo-fc1 ic-hrzagf1-repo-fc1 ic-grathb1-repo-fc1 ic-hrvarf1-repo-fc1 ic-hubudf1-repo-fc1
    Hostname 100.107.0.4

# Site DNS server FC1
Host ic-skbrat1-dns-fc1 ic-plwarb1-dns-fc1 ic-hrzagt1-dns-fc1 ic-hubudb1-dns-fc1 ic-hrvart1-dns-fc1 ic-hrzagf1-dns-fc1 ic-grathb1-dns-fc1 ic-hrvarf1-dns-fc1 ic-hubudf1-dns-fc1
    Hostname 100.107.0.6

# Site NTP server FC1
Host ic-skbrat1-ntp-fc1 ic-plwarb1-ntp-fc1 ic-hrzagt1-ntp-fc1 ic-hubudb1-ntp-fc1 ic-hrvart1-ntp-fc1 ic-hrzagf1-ntp-fc1 ic-grathb1-ntp-fc1 ic-hrvarf1-ntp-fc1 ic-hubudf1-ntp-fc1
    Hostname 100.107.0.5

# Site network control vm FC1
Host ic-skbrat1-na-fc1 ic-plwarb1-na-fc1 ic-hrzagt1-na-fc1 ic-hubudb1-na-fc1 ic-hrvart1-na-fc1 ic-hrzagf1-na-fc1 ic-grathb1-na-fc1 ic-hrvarf1-na-fc1 ic-hubudf1-na-fc1
    Hostname 100.107.0.3

# Site systlog server FC1
Host ic-skbrat1-syslog-fc1 ic-plwarb1-syslog-fc1 ic-hrzagt1-syslog-fc1 ic-hubudb1-syslog-fc1 ic-hrvart1-syslog-fc1 ic-hrzagf1-syslog-fc1 ic-grathb1-syslog-fc1 ic-hrvarf1-syslog-fc1 ic-hubudf1-syslog-fc1
    Hostname 100.107.0.51

# Site MAAS region controller FC1
Host ic-skbrat1-maas-region-fc1 ic-plwarb1-maas-region-fc1 ic-hrzagt1-maas-region-fc1 ic-hubudb1-maas-region-fc1 ic-hrvart1-maas-region-fc1 ic-hrzagf1-maas-region-fc1 ic-grathb1-maas-region-fc1 ic-hrvarf1-maas-region-fc1 ic-hubudf1-maas-region-fc1
    Hostname 100.107.0.31

##### FC2 is BDC/FDC specific #####
##BDC Specific FC2
# Prime FC2
Host ic-skbrat1-prime-fc2 ic-plwarb1-prime-fc2 ic-hrzagt1-prime-fc2 ic-hubudb1-prime-fc2 ic-grathb1-prime-fc2 
    Hostname 100.107.64.2

# Site Control VM FC2
Host ic-skbrat1-controlvm-fc2 ic-plwarb1-controlvm-fc2 ic-hrzagt1-controlvm-fc2 ic-hubudb1-controlvm-fc2 ic-grathb1-controlvm-fc2
    Hostname 100.107.64.7

# Site Repository VM FC2
Host ic-skbrat1-repo-fc2 ic-plwarb1-repo-fc2 ic-hrzagt1-repo-fc2 ic-hubudb1-repo-fc2 ic-grathb1-repo-fc2
    Hostname 100.107.64.4

# Site DNS server FC2
Host ic-skbrat1-dns-fc2 ic-plwarb1-dns-fc2 ic-hrzagt1-dns-fc2 ic-hubudb1-dns-fc2 ic-grathb1-dns-fc2
    Hostname 100.107.64.6

# Site NTP server FC2
Host ic-skbrat1-ntp-fc2 ic-plwarb1-ntp-fc2 ic-hrzagt1-ntp-fc2 ic-hubudb1-ntp-fc2 ic-grathb1-ntp-fc2
    Hostname 100.107.64.5

# Site network control vm FC2
# ic-hubudb1-na-fc2 (na 2 does not exist in ic-hubudb1
Host ic-skbrat1-na-fc2 ic-plwarb1-na-fc2 ic-hrzagt1-na-fc2 ic-grathb1-na-fc2
    Hostname 100.107.64.3

# Site systlog server FC2
Host ic-skbrat1-syslog-fc2 ic-plwarb1-syslog-fc2 ic-hrzagt1-syslog-fc2 ic-hubudb1-syslog-fc2 ic-grathb1-syslog-fc2
    Hostname 100.107.64.51

# Site MAAS region controller FC2
Host ic-skbrat1-maas-region-fc2 ic-plwarb1-maas-region-fc2 ic-hrzagt1-maas-region-fc2 ic-hubudb1-maas-region-fc2 ic-grathb1-maas-region-fc2
    Hostname 100.107.64.31

##FDC Specific FC2
# Prime FC2
Host ic-hrvart1-prime-fc2 ic-hrvarf1-prime-fc2 ic-hubudf1-prime-fc2
    Hostname 100.107.0.102

# Site Control VM FC2
Host ic-hrvart1-controlvm-fc2 ic-hrvarf1-controlvm-fc2 ic-hrzagf1-controlvm-fc2 ic-hubudf1-controlvm-fc2
    Hostname 100.107.0.107

# Site Repository VM FC2
Host ic-hrvart1-repo-fc2 ic-hrzagf1-repo-fc2 ic-hrvarf1-repo-fc2 ic-hubudf1-repo-fc2
    Hostname 100.107.0.104

# Site DNS VM FC2
Host ic-hrvart1-dns-fc2 ic-hrzagf1-dns-fc2 ic-hrvarf1-dns-fc2 ic-hubudf1-dns-fc2
    Hostname 100.107.0.106

# Site NTP server FC2
Host ic-hrvart1-ntp-fc2 ic-hrzagf1-ntp-fc2 ic-hrvarf1-ntp-fc2 ic-hubudf1-ntp-fc2
    Hostname 100.107.0.105

# Site network control vm FC2
Host ic-hrvart1-na-fc2 ic-hrzagf1-na-fc2 ic-hrvarf1-na-fc2 ic-hubudf1-na-fc2
    Hostname 100.107.0.103

# Site syslog server FC2
Host ic-hrvart1-syslog-fc2 ic-hrzagf1-syslog-fc2 ic-hrvarf1-syslog-fc2 ic-hubudf1-syslog-fc2
    Hostname 100.107.0.151

# Site MAAS region controller FC2
Host ic-hrvart1-maas-region-fc2 ic-hrzagf1-maas-region-fc2 ic-hrvarf1-maas-region-fc2 ic-hubudf1-maas-region-fc2
    Hostname 100.107.0.131

# support cloud 
Host sc-hubudb1-maas-region
    Hostname 100.127.20.57
    ProxyCommand ssh -W %h:%p hubudb1-f1-scjho-01-01

Host sc-hubudb1-scadm
    Hostname 100.127.20.53
    ProxyCommand ssh -W %h:%p hubudb1-f1-scjho-01-01

Host sc-hrzagt1-jumphost
   Hostname 188.125.18.106
   Port 3022
   ProxyCommand ssh -W %h:%p jumphost

Host sc-hrzagt1-support-01
    HostName 10.24.110.113
    ProxyCommand ssh -q -W %h:%p sc-hrzagt1-jumphost

Host sc-hrzagt1-support-02
    HostName 10.24.110.127
    ProxyCommand ssh -q -W %h:%p sc-hrzagt1-jumphost

# Beryllium

Host ic-skbrat2-infra1
    HostName 100.80.0.1
    ProxyCommand ssh -W %h:%p ic-skbrat1-controlvm-fc1
Host ic-skbrat2-infra2
    HostName 100.80.0.2
    ProxyCommand ssh  -W %h:%p ic-skbrat1-controlvm-fc1
Host ic-skbrat2-infra3
    HostName 100.80.0.3
    ProxyCommand ssh  -W %h:%p ic-skbrat1-controlvm-fc1

Host ic-hrzagt2-infra1
    HostName 100.96.0.1
    ProxyCommand ssh -W %h:%p ic-hrzagt1-controlvm-fc1
Host ic-hrzagt2-infra2
    HostName 100.96.0.2
    ProxyCommand ssh  -W %h:%p ic-hrzagt1-controlvm-fc1
Host ic-hrzagt2-infra3
    HostName 100.96.0.3
    ProxyCommand ssh  -W %h:%p ic-hrzagt1-controlvm-fc1

## testing VMs in bratislava
Host ic-ber-test-infra1
    HostName 100.80.0.188
    ProxyCommand ssh -W %h:%p ic-skbrat2-infra1
Host ic-ber-test-infra2
    HostName 100.80.0.181
    ProxyCommand ssh  -W %h:%p ic-skbrat2-infra1
Host ic-ber-test-infra3
    HostName 100.80.0.175
    ProxyCommand ssh  -W %h:%p ic-skbrat2-infra1

# Frankfurt -  ic-defraf1
Host ic-defraf1-infra1
    HostName 87.190.235.74
    ProxyCommand ssh -W %h:%p jumphost
Host ic-defraf1-infra2
    HostName 100.102.46.1
    ProxyCommand ssh  -W %h:%p ic-defraf1-infra1
Host ic-defraf1-infra3
    HostName 100.102.56.1
    ProxyCommand ssh  -W %h:%p ic-defraf1-infra1

# Zagreb - ic-hrzagt3
Host ic-hrzagt3-infra1
    HostName 188.125.19.250
    ProxyCommand ssh -W %h:%p jumphost
####Next will be uncommented and filled out once we will know IP addresses and network
#Host ic-hrzagt3-infra2
#    HostName FIXME
#    ProxyCommand ssh  -W %h:%p ic-hrzagt3-infra1
#Host ic-hrzagt3-infra3
#    HostName FIXME
#    ProxyCommand ssh  -W %h:%p ic-hrzagt3-infra1
#
### Beryllium global forward domain / network over infra1
#
## Bratislava - forward domain / subnets except infras over infra1
Host *.ic-skbrat2.in.pan-net.eu 100.8[0-1].* !ic-skbrat2-infra* !100.80.0.[1-3]
   ProxyCommand ssh -W %h:%p ic-skbrat2-infra1

## croatia - forward domain / subnets except infras over infra1
Host *.ic-hrzagt2.in.pan-net.eu 100.9[6-7].* !ic-hrzagt2-infra* !100.96.0.[1-3]
   ProxyCommand ssh -W %h:%p ic-hrzagt2-infra1

## frankfurt - forward domain / subnets except infras over infra1
Host *.ic-defraf1.in.pan-net.eu 100.10[2-3].* !ic-defraf1-infra* !100.102.0.[1-3]
   ProxyCommand ssh -W %h:%p ic-defraf1-infra1

## Croatia Zagreb BE2.0 - ic-hrzagt3 - forward domain / subnets except infras over infra1
Host *.ic-hrzagt3.in.pan-net.eu 100.10[4-7].* !ic-hrzagt3-infra* !100.104.0.[1-3]
   ProxyCommand ssh -W %h:%p ic-hrzagt3-infra1

# include custom user config file from ~/.ssh/config.d/ 
Include config.d/* 




# Varazdin - ic-hrvart2
Host ic-hrvart2-infra1
    HostName 188.125.24.4
    ProxyCommand ssh -W %h:%p jumphost
Host ic-hrvart2-infra2
    HostName 100.113.0.2
    ProxyCommand ssh  -W %h:%p ic-hrvart2-infra1
Host ic-hrvart2-infra3
    HostName 100.113.0.3
    ProxyCommand ssh  -W %h:%p ic-hrvart2-infra1

# Bamberg - ic-debamf1
Host ic-debamf1-infra1
    HostName 100.123.0.1
    ProxyCommand ssh -W %h:%p jumphost
Host ic-debamf1-infra2
    HostName 100.123.0.2
    ProxyCommand ssh -W %h:%p jumphost
Host ic-debamf1-infra3
    HostName 100.123.0.3
    ProxyCommand ssh -W %h:%p jumphost

# Bratislava DEV env - ic-skbraf2
Host ic-skbraf2-infra1
    HostName 100.115.0.1
    ProxyCommand ssh -W %h:%p jumphost
Host ic-skbraf2-infra2
    HostName 100.115.0.2
    ProxyCommand ssh -W %h:%p jumphost
Host ic-skbraf2-infra3
    HostName 100.115.0.3
    ProxyCommand ssh -W %h:%p jumphost


# Frankfurt -  ic-defraf1
Host ic-defraf1-infra1-pub
    HostName 87.190.235.74
    ProxyCommand ssh -W %h:%p jumphost
Host ic-defraf1-infra2-pub
    HostName 100.102.46.1
    ProxyCommand ssh  -W %h:%p ic-defraf1-infra1
Host ic-defraf1-infra3-pub
    HostName 100.102.56.1
    ProxyCommand ssh  -W %h:%p ic-defraf1-infra1
Host ic-defraf1-infra1 ic-defraf1-infra1-pnb
    HostName 100.102.0.1
    ProxyCommand ssh -W %h:%p jumphost
Host ic-defraf1-infra2 ic-defraf1-infra2-pnb
    HostName 100.102.0.2
    ProxyCommand ssh -W %h:%p jumphost
Host ic-defraf1-infra3 ic-defraf1-infra3-pnb
    HostName 100.102.0.3
    ProxyCommand ssh -W %h:%p jumphost

